node_modules/
dist/
build/
app/dist/
.DS_Store
*.log
.env
coverage/
.jest/

# Master Admin Access Keys
ToxicSavage_Master.key
MASTER_UPLINK.json
backend/*.db
backend/users.db
backend/exploits.db
backend/nexus_c2.db
