set default=0 
set timeout=5 
menuentry 'SpartanAI Server (Auto-Install)' { 
    linux /vmlinuz spartan_mode=install quiet 
    initrd /initrd.img 
} 
menuentry 'SpartanAI Kiosk (Command Hub)' { 
    linux /vmlinuz spartan_mode=kiosk quiet 
    initrd /initrd.img 
} 
menuentry 'SpartanAI Shell (Headless)' { 
    linux /vmlinuz spartan_mode=server quiet 
    initrd /initrd.img 
} 
menuentry 'SpartanAI Desktop (Ghost Chat)' { 
    linux /vmlinuz spartan_mode=desktop quiet 
    initrd /initrd.img 
} 
