set default=0 
set timeout=5 
menuentry 'SentinelAI Server (Auto-Install)' { 
    linux /vmlinuz sentinel_mode=install quiet 
    initrd /initrd.img 
} 
menuentry 'SentinelAI Kiosk (Command Hub)' { 
    linux /vmlinuz sentinel_mode=kiosk quiet 
    initrd /initrd.img 
} 
menuentry 'SentinelAI Shell (Headless)' { 
    linux /vmlinuz sentinel_mode=server quiet 
    initrd /initrd.img 
} 
menuentry 'SentinelAI Desktop (Ghost Chat)' { 
    linux /vmlinuz sentinel_mode=desktop quiet 
    initrd /initrd.img 
} 
